<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Todo.app">
    <meta name="author" content="Gregor Anželj">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- FontAwesome icons -->
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
</head>

<body>

  <header class="blog-header py-3 bg-light">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-2 d-flex justify-content-start align-items-center align-self-end">
        <a class="nav-link text-muted" href="/"><span class="fa fa-check-circle"></span> Todo.app</a>
      </div>
      <div class="col-8 text-center">
        <img src="{{ url_for('static', filename='img/todo_md_secondary.png') }}">
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        &nbsp;
      </div>
    </div>
  </header>

<main role="main" class="container">

{% block content %}{% endblock %}

</main><!-- /.container -->


<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper-1.16.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
