{% extends "base.html" %}

{% block title %}HelloKitty - Greeting form{% endblock %}

{% block content %}
    <div class="card greet-card">
        <div class="card-header">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class='form-control') }}
                </div>
                {{ form.submit(class='btn btn-primary') }}
            </form>
        </div>
    </div>
{% endblock %}