<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Links.app">
    <meta name="author" content="Gregor Anželj">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- FontAwesome icons -->
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><span class="fa fa-link"></span> Links.app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">

{% block content %}{% endblock %}

</main><!-- /.container -->

<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper-1.16.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
