{% extends "base.html" %}

{% block title %}Links.app &middot; {{ message }}{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 mt-3">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3 class="pt-2">Error</h3>
            </div>

            <div class="card-body">
                <p><strong>{{ error.code }} {{ error.name }}</strong></p>
				<p>{{ error.description }}</p>
            </div>

        </div>
    </div>
{% endblock %}